node_modules/
.env
scratch/
.gemini/
*.png
*.jpg
*.webp
!hero.png
!fest.png
!library.png
!aurora.png
!ritu.jpg
!saurav.jpg
!nitish.jpg
!gautam.jpg
!abhinandan.jpg
!om.jpg
!rohit.jpg
!abhishek.jpg
!aseem.jpg

!media_1.jpg
!media_2.jpg
!media_3.jpg
!media_4.jpg
!media_5.jpg

!reel_1.mp4
!reel_2.mp4
!reel_3.mp4

!om_shankar.jpg
!manish.jpeg
!archana.jpeg
!sunidhi.jpeg
!prachi.jpeg
!priya.jpeg
!arti.jpeg
!om_shankar.jpg

